.chats{
    max-width: 700px;
    overflow-y: auto;
    padding: 8rem;
    scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #2a2a2a #1a1a1a; /* thumb color | track color */
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.geminiDiv{
text-align:start;
font-size: 0.9rem;
}

.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left:15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs{
    border-radius: 12px;
}

.pre{
    white-space: pre-wrap;
}