.sidebar{
    background-color: #171717;
    color:#b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding:10px;
    border:solid rgba(255,255,255,0.5);
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
}
.sidebar button:hover{
    background-color: rgba(180,180,180,0.05);
}
.logo{
    height: 25px;
    width: 25px;  
    background-color: white;  
    border-radius: 50%;
    object-fit: cover;
}

.history{
    margin:10px;
    padding:10px;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #2a2a2a #1a1a1a; /* thumb color | track color */
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding:2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border:solid 10px transparent;
    border-radius: 12px;
    position:relative;
    
}

.history li:hover{
    background-color: rgba(180,180,180,0.05);
}

.sign{
    margin:10px;
    padding:10px;
    font-size: 14px;
    text-align: center;
    border-top:solid 0.25px rgba(255,255,255, 0.5);
}

.trashicon{
    opacity: 0;
    position:absolute;
    right: 0;
    

}

.history li:hover .trashicon{
    opacity: 1;
    color:#fff;
}

.fa-trash:hover {
    color:#f87171 !important;
}   